.App {
  text-align: center;
}

body{
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(Mundschutz.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: crete;
  color: white; 
}

@font-face{
  font-family: 'Crete';
  src: url(CreteRound-Regular.ttf);
  font-style: normal;
}

/*StartPage*/
.logo{
  max-height: 120px;
 }

.card-deck{
  color:black;
  position: center;
  align-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left:12% ;
  margin-right: 12%;
}

/*FindSlotPage*/

@media (max-width:1000px){
  .findDay{
    display: block;
    margin: auto;
    padding: 1rem;
    width: 100%; 
    max-width: 350px;
    min-width:350px;
  }
  .findTime{
    display:block; 
    margin: auto;
    padding:1rem; 
    width:100%;
    color: white; 
  }
}

@media (min-width:1000px){
  .findDay{
    display:inline-block;
    width: 70%; 
    padding: 2rem;
    max-width: 350px;
    min-width:350px;
  }
  .findTime{
    display:inline-block; 
    margin: auto;
    padding: 2rem;
    width:70%;
    color: white; 
  }
  .wrapFind{
    display:flex;
  }
}

/*DataFormPage*/

@media (max-width:1000px){
  .textboxes {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width:1000px) and (max-width:1500px){
  .textboxes {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

@media (min-width:1500px){
.textboxes {
  margin-left: 30rem;
  margin-right: 30rem;
}
}

.Header_DataForm{
  margin: 30px;
  font-size: x-large;
  font-weight: 500;
}

.background{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px;
  color: white;
}




